[mysqld]
# Auf allen Interfaces lauschen, nicht nur auf localhost
# Notwendig damit wordpress-Container per TCP zugreifen kann
bind-address    = 0.0.0.0

# Expliziter Daten-Pfad (entspricht dem gemounteten Named Volume)
datadir         = /var/lib/mysql

# Netzwerk aktivieren (0 = Netzwerk an; wäre sonst standardmäßig deaktiviert)
skip-networking = 0
